.App-header {
  display: grid;
  grid-template-columns: 0.9fr 1fr 0.9fr;
}
.navbar {
  border-bottom: 1px solid rgb(202, 199, 199);
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
}
@media only screen and (max-width: 800px) {
  .navbar {
    width: 100%;
  }
  .App-header {
    display: grid;
    grid-template-columns: repeat(1fr);
  }
}
