body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  scroll-behavior: smooth;
  transition: 0.2s;
  box-sizing: border-box;
  /* border: 1px dashed green; */
}
body {
  padding: 0;
  margin: 0;
  font-family: Lato, Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid-container {
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr)
    minmax(1rem, 1200px)
    minmax(1rem, 1fr);
}
